
<!DOCTYPE html>
<html>
<head>
    <title>Anguflix</title>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="movieApp">

<div id="myCollectionContainer" ng-controller="myCollectionCtrl">

    <div id="psuedoNav">
        <h2>My Collection</h2>

        <div class="form-group">
            <input class="form-control" type="text" ng-model="movieName" placeholder="Search by title">
            <select class="form-control" ng-model="movieYear">
                <option value="{{undefined}}">Any Year</option>
                <option ng-repeat="year in years">{{year}}</option>
            </select>
            <i class="fa fa-trash-o" aria-hidden="true" ng-click="showRemoveOption()" ng-hide="trashClicked"></i>
            <i class="fa fa-check" aria-hidden="true" ng-show="trashClicked" ng-click="showRemoveOption()"></i>
        </div>

        <div id="remainingBudget"><h4>Budget left: {{budget | currency}}</h4></div>
    </div>

    <div id="outOfBudgetContainer" ng-show="outOfBudget"><h3>You're out of money =[ Can't buy any more movies. Refresh the page to get your $9 back.</h3></div>

    <div id="emptyCollectionContainer" ng-hide="movies.length"><h3>Select movies from below to add to your collection</h3></div>

    <div class="movies">
        <div class="movie" ng-repeat="movie in movies | filter:{title:movieName, year: movieYear} track by $index">

            <div class="movieImg">
                <img ng-src="{{movie.img}}"/>
            </div>

            <div class="removeButton" ng-show="trashClicked"><a href="#" ng-click="removeFromMyColletion(movie)">Remove</a></div>

            <div class="movieDescr">
                <p><h3 style="display:inline-block">{{movie.title}}</h3>, {{movie.year}}
                <p>{{movie.descrShort}}</p>
            </div>
        </div>
    </div>
</div>

<hr>

<div id="allMoviesContainer" ng-controller="allMoviesCtrl">
    <h2>All Movies</h2>

    <div class="form-group">
        <input class="form-control" type="text" ng-model="movieName" placeholder="Search by title">
    </div>

    <div class="movies">
        <div class="movie allMovies" ng-repeat="movie in movies | filter:{title:movieName} track by $index" ng-click="addToMyCollection(movie)">

            <div class="movieImg">
                <img ng-src="{{movie.img}}"/>
            </div>

            <div class="movieDescr">
                <p><h3 style="display:inline-block">{{movie.title}}</h3>, {{movie.year}}
                <p>{{movie.descrShort}}</p>
            </div>
        </div>
    </div>

</div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="app.js"></script>
<script src="services.js"></script>
<script src="myCollectionCtrl.js"></script>
<script src="allMoviesCtrl.js"></script>
</body>
</html>